# Build and Bins
.gradle/
bin/
build/
run/

# IDEs
.settings/
.classpath
.project
.idea/

# Misc
/notes and misc/CGM-E_Datapack/
/notes and misc/CGM_AVE_Expanded/
/notes and misc/CGM+ Tweaks Datapack/
